:root {
    --slate:#556270; 
    --ocean:#4ECDC4; 
    --lime:#C7F464; 
    --blush:#FF6B6B; 
}

body {
    background-color: var(--slate); 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
}
/* nav bar */ 
.flexbox {
    color: var(--ocean); 
    font-size: 1.5em;
    font-weight:bold; 
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
}

/*game title*/ 
h1 {
    color: var(--blush); 
    background-color: var(--slate);
    font-size:2em; 
    font-weight:bolder; 
    text-align:center; 
}

#view-highscores-btn {
    cursor:pointer; 
}

/*start game button*/ 
button {
    background-color: var(--blush);
    padding:20px; 
    font-size:1em; 
    border-radius:20px; 
    border:1px solid black; 
    box-shadow:2px 2px 5px black; 
    display:block;
    margin: 0 auto; 
    font-weight:bold; 
    cursor: pointer;
} 
/*text explaination*/ 
p {
    background-color: var(--ocean);
    margin: 2% 20%; 
    border-radius: 25px; 
    border:2px solid white; 
    padding: 5%; 
    text-align: center; 
}

#question-title { 
    text-align: center; 
    padding: 2%; 
    background-color: var(--ocean); 
    margin: 0 20%; 
    border: 2px solid white; 
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 25px;  
    display:none; 
}
input {
    text-align: center;
    margin: 0 auto; 
    display:block; 
    width:30%; 
    height: 3%; 
    margin-bottom: 2%;
    font-size: 1.25em;
    background-color: var(--lime);  
}
.user-choice {
 margin: 2% auto;  
 font-size: 1em; 
}

#initials-input {
    text-align: center;
    font-size: 1.25em;
}

#highscore-screen {
    text-align: center;
    
}
/*hover over the quiz answers*/ 
.choice:hover { 
    cursor: pointer;
    background-color: var(--lime);
}

/* View Highscores Link */
#view-highscores-btn:hover {
    color: var(--lime); 
}

